@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
footer{
    text-align: left;
}
#page {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 50px 2fr 30px;
  grid-template-columns: 150px 2fr;
  text-align: center;
  background-image: url("./images/galaxy.webp");
  font-family: system-ui;
   
}

#page > header {
  grid-area: head;
  background-color: silver;
}

#page > nav {
  grid-area: nav;
  background-color: purple;
}

#page > main {
  grid-area: main;
  
}

#page > footer {
  grid-area: foot;
  background-color: silver;
  font-family: system-ui;
}
ul{
  
  justify-content: space-around;
  list-style-type: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  width: 100%;
  padding: 0;
}
body{
  background-color: silver;

}
.card {
  color: antiquewhite;
  font-family: system-ui;
  border: 3px solid purple;
  padding: 25px;
  background-color: black;
}
.centered {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px auto;
  width: 75%;
}
.footer{
  font-family: system-ui;
}
img{
  width: 200px;
}
a, a:hover, a:active, a:visited { color: white; }
